<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Report</title>
    <script type="text/javascript" src="/scripts/addReport.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="row justify-content-center mt-5">
            <h2>Add Report</h2>
    </div>
    <div class="row justify-content-center mt-3">
        <div style="background-color:cadetblue; border-radius: 10px; padding-right: 10%; padding-left: 10%; padding-top: 2%; padding-bottom: 3%;">
            <form>
                <div class="form-group h-25">
                    <label for="id">Report ID:</label><br>
                    <input class="form-control" type="number" id="id" name="id">
                    <div th:switch="${lengthValidation}">
                        <small th:case="false">Report ID Length must be 7 (seven)</small>
                        <small th:case="*"></small>
                    </div>
                </div>

                <div class="form-group h-25">
                    <label for="patient-name">Patient Name:</label>
                    <input class="form-control" type="text" id="patient-name" name="patient-name">
                </div>

                <div class="form-group h-25">
                    <label for="patient-surname">Patient Surname:</label>
                    <input class="form-control" type="text" id="patient-surname" name="surname-name">
                </div>

                <div class="form-group h-25">
                    <label for="patient-TC">Patient TC:</label>
                    <input class="form-control" type="number" id="patient-TC" name="patient-TC">
                </div>

                <div class="form-group h-25">
                    <label for="diagnosis-title">Diagnosis Title: </label>
                    <input class="form-control"  type="text" id="diagnosis-title" name="diagnosis-title">
                </div>

                <div class="form-group h-25">
                    <label for="diagnosis-detail">Diagnosis Detail: </label>
                    <input class="form-control"  type="text" id="diagnosis-detail" name="diagnosis-detail">
                </div>

                <div class="form-group h-25">
                    <label for="diagnosis-img">Diagnosis Photo: </label>
                    <input class="form-control"  type="file" id="diagnosis-img" name="diagnosis-detail" accept="image/*">
                </div>

                <div class="row justify-content-center">
                    <input style="background-color: coral; color: black" class="btn btn-primary" type="button" value="Add Report"  onclick="addReport()">
                </div>

            </form>
        </div>
    </div>

    <div class="row justify-content-center mt-5" th:switch="${status}">
        <div style="background-color:palegreen; border-radius: 10px; padding: 0.6%;" th:case="true">Report has been added successfully</div>
        <div style="background-color:indianred; border-radius: 10px; padding: 0.6%;" th:case="false">Report has not been added! Error.</div>
        <div th:case="*"></div>
    </div>

</div>
</body>
</html>