<html>
<head>
    <title>Users</title>
</head>

<body>
<div>
    <h2 th:text="${user.getUserName()}"></h2>
    <table>
        <tr>
            <th>userId</th>
            <th>userName</th>
            <th>userSurname</th>
            <th>isManager</th>
        </tr>
        <tr>
            <td th:text="${user.getUserId()}"></td>
            <td th:text="${user.getUserName()}"></td>
            <td th:text="${user.getUserSurname()}"></td>
            <td th:text="${user.getIsManager()}"></td>
        </tr>
    </table>
</div>
</body>
</html>
