<html>
<head>
    <title>Users</title>
    <script type="text/javascript" src="/scripts/directAddUser.js"></script>
    <script type="text/javascript" src="/scripts/exitSystem.js"></script>
</head>

<body>
<div>
    <h2>Users</h2>
    <table>
        <tr>
            <th>userId</th>
            <th>userName</th>
            <th>userSurname</th>
            <th>isManager</th>
        </tr>
        <tr th:each="c : ${usersList}">
            <td>
                <a th:href="@{${'user/' + c.getUserId()}}" th:text="${c.getUserId()}"></a>
            </td>
            <td th:text="${c.getUserName()}"></td>
            <td th:text="${c.getUserSurname()}"></td>
            <td th:text="${c.getIsManager()}"></td>
        </tr>
    </table>
    <input type="button" onclick="exitSystem()" value="Exit">
    <input type="button" onclick="directAddUser()" value="Add User">
</div>
</body>
</html>