<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="row mt-5 mr-5">
        <div style="text-align: center" class="col-5">
            <a href="/users">
                <input style="background-color: coral" class="btn btn-primary" type="button" value="Users">
            </a>
        </div>
        <div class="col-7">
            <h2 th:text="${user.getUserName() +' '+ user.getUserSurname()}"></h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col" style="text-align: right">
            <a th:href="@{${'/deleteUser/' + user.getUserId()}}">
                <input style="background-color: darkred" class="btn btn-primary" type="button" value="Delete">
            </a>
        </div>

        <div class="col">
            <a th:href="@{${'/editUser/' + user.getUserId()}}">
                <input style="background-color: coral" class="btn btn-primary" type="button" value="Edit">
            </a>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div style="background-color:cadetblue; border-radius: 10px; padding-right: 10%; padding-left: 10%; padding-top: 2%; padding-bottom: 3%;">
            <form>
                <div class="form-group h-25">
                    <label for="id">ID:</label><br>
                    <input class="form-control" type="number" id="id" name="id" th:value="${user.getUserId()}" readonly="true">
                </div>

                <div class="form-group h-25">
                    <label for="name">Name:</label><br>
                    <input class="form-control" type="text" id="name" name="name" th:value="${user.getUserName()}" readonly="true">
                </div>

                <div class="form-group h-25">
                    <label for="surname">Surname:</label>
                    <input class="form-control" type="text" id="surname" name="surname" th:value="${user.getUserSurname()}" readonly="true">
                </div>
                <div class="form-group h-25">
                    <label for="reportCount">Report Count:</label>
                    <input class="form-control" type="text" id="reportCount" name="reportCount" th:value="${reportCount}" readonly="true">
                </div>
                <div class="form-group h-25">
                    <div th:switch="${#strings.trim(user.getRole())}">
                        <div th:case="ROLE_MANAGER">
                            <label for="manager">Is Manager?: </label>
                            <input type="checkbox" id="manager" name="manager" checked="true" onclick="return false;">
                        </div>
                        <div th:case="ROLE_LABORANT">
                            <label for="laborant">Is Manager?: </label>
                            <input   type="checkbox" id="laborant" name="laborant" checked="false" onclick="return false;">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
